includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - tests
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#Instanceof between Carbon\\Carbon and DateTimeInterface will always evaluate to true#'
        - '#Parameter #1 \$user of class Illuminate\\Auth\\Events\\Verified constructor expects Illuminate\\Contracts\\Auth\\MustVerifyEmail, App\\Models\\User|null given#'